.about {
    cursor: pointer;
    background-color:#638bb9;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about h1 {
    padding: 10px 0;
    margin-bottom: 20px;
}


.about img {
    display: block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    margin: auto;
    border-radius: 50%;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #e1c1cd;
    border: 2px solid #9cc3a1;
    transition: all .5s ease;

}

.about-item:hover img {
    opacity: 1;
    border: 2px solid #CC0039;
    font-size: 42px;
    transform: scale(1.25, 1.25);
}

.about .lead {
    color: #CC0039;
    font-size: 14px;
    font-weight: bold;
}

@media(max-width: 700px){
    .row{
        display: flex;
        flex-direction: column;
    }
}